:root {     
  --color1: #101010; 
  --color2: #ededed;
  --color3: #FFF;
  --accent1: #EB5E28;
  --transparent: #ffffffa2; 
  --headings: 'Yusei Magic', sans-serif;
  --content: 'Nunito', sans-serif;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
  
}

h1, h2, h3, input {
  font-family: var(--headings);
}

li, a, p, form, img {
  font-family: var(--content);
}

#wrapper {
  background-color: var(--color3);
  margin: 0.5rem;  
}

header {
  display: flex;
  justify-content: space-between; 
  padding: 1rem 0;
}

.siteName a {
  font-family: var(--headings);
  font-size: 2rem;
  font-weight: 800;
}

.siteName a, 
#tools a,
.siteName a:visited,
#tools a:visited
{
  text-decoration: none;
  color: var(--color1);
}


#tools a:hover {
  text-decoration: underline;
}

 nav ul {
  background-color: var(--color1);
  list-style-type: none;
  display: flex;
}

nav li {
  flex: 1 1 100%;
}

nav a {  
  display: block;
  color: var(--color3);
  text-decoration: none;
  text-align: center; 
  padding: 1rem 0;
}

nav a:hover {
  background-color: var(--accent1);
  color: var(--color3);   
  transition: 0.2s ease-in-out;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

main h1 {
  margin-top: 1rem;
}

main h2 {
  margin-bottom: 1rem;
}

/* hero */
.hero-image {
  padding: 2rem;
  position: relative; 
  margin-top: 1rem;
}

picture img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-label {  
  color: var(--color1);  
}

.hero-label h2 {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-label div {
  position: absolute;
  background-color: var(--transparent);
  width: auto;
  top: 40px;
  left: 16px; 
}

.hero-label ul {
  list-style-type: none;
}

.hero-label li {
  font-weight: 800;
}

.hero-label input {
  background-color: var(--accent1);
  color: var(--color1);
  font-weight: 800;
  border: 0;
  padding: 0.5rem 1rem;
  width: 90%; 
}

.hero-label input:hover {
  background-color: var(--color1);
  color: var(--color3);
  transition: 0.2s ease-in-out;
}

/* delorean-sections */
.delorean-sections {
  display: grid;  
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* delorean reviews */
.delorean-reviews {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  color: var(--color1);
}

.delorean-reviews ul {
  line-height: 2rem; 
}

.delorean-reviews li {
  list-style-position: inside;
}

/* delorean upgrades */

.delorean-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 2rem; 
}

.delorean-upgrades h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  padding-bottom: 0.5rem;
}

.delorean-upgrades div:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 2/3;  
}

.delorean-upgrades div:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.delorean-upgrades div:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.delorean-upgrades div:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.delorean-upgrades div > div {
  background-color: var(--accent1);
  border: 2px solid var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.delorean-upgrades div:nth-of-type(1),
.delorean-upgrades div:nth-of-type(2),
.delorean-upgrades div:nth-of-type(3),
.delorean-upgrades div:nth-of-type(4) 
{ 
  text-align: center;
}

#upgrade1, 
#upgrade2
{
  padding-bottom: 1rem;
}

.delorean-upgrades a,
.delorean-upgrade a:visited 
{ 
  color: var(--color1);
}

#inv-display {
  list-style-position: inside;
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#inv-display img {
  display: block;
  margin: 1rem auto;
  height: 100px;
  width: auto;
}

#inv-display li {
  border: 3px solid var(--color1);
  border-radius: 10px;
}

.namePrice {
  padding: 0 1rem 1rem;
}

.namePrice a {
  color: var(--color1);
}

.namePrice hr {
  border: 1px solid var(--color1);
}

footer {
  margin-top: 2rem;
}

#vehicle-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#container1 {
  position: relative;
}

#container1 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border: 3px solid var(--color1);
  border-radius: 10px;
}

#container2 h3 {
  margin-bottom: 1rem;
}

#container2 p {
  color: var(--color1);
  padding: 1rem;
}

.bold-text {
  font-weight: 800;
}

#container2 p:nth-child(even) {
  background-color: var(--color2);
}

form {
  background-color: var(--color2);
  border: 2px solid var(--color1);
  border-radius: 10px;
  padding: 2rem 1rem;
}

fieldset {
  border: 0;  
}

fieldset label {
  display: block;
  margin-bottom: 1.75rem;  
}

fieldset input[type="text"],
fieldset input[type="email"],
fieldset input[type="password"],
fieldset input[type="submit"]
{
  display: block; 
  margin-top: 0.5rem;
  padding: 0.75rem;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: 2px solid var(--color1);
}

fieldset p {
  font-style: italic;
}

fieldset input[type="text"]:required:invalid,
fieldset input[type="email"]:required:invalid,
fieldset input[type="password"]:required:invalid
{
  border: 2px solid var(--accent1);
}

fieldset input[type="text"]:valid,
fieldset input[type="email"]:valid,
fieldset input[type="password"]:valid
{
  border: 2px solid var(--color1);
}

/* input:required:invalid, input:focus:invalid {
  background-image: url(/images/site/invalid.png);
  background-position: right-top;
  background-repeat: no-repeat;
}

 input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right-top;
  background-repeat: no-repeat;
} */

fieldset input[type="submit"] {
  background-color: var(--color1);
  border: 0;
  border-radius: 10px;
  color: var(--color3);
  cursor: pointer;
  font-size: 1.125rem;
}

fieldset input[type="submit"]:hover {
  background-color: var(--accent1);
  color: var(--color3);
  transition: 0.2s ease-in-out;
}

form p {
  margin-top: 1rem;
}

form p a {
  text-decoration: none;
}

form p a:hover {
  text-decoration: underline;
}

form p a,
form p a:visited 
{
  color: var(--color1)
}

.notice {
  list-style-type: none;
  line-height: 2rem;  
}

/* larger view */
@media screen and (min-width: 32.5em) {
  body {
    background-image: url("/images/site/checkerboard.jpg");
  }
  #wrapper {   
    border: 3px solid var(--accent1);
    max-width: 1000px;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 10px;
  }

  header {
    padding: 1.5rem 0;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main h1 {
    grid-column: 1/4;
  }

  .hero-image {
    grid-column: 1/4;
  }

  .hero-label h2 {
    top: 10%;
    left: 23%;
    transform: translate(-50%, -50%);
    font-size: 2.25rem;
  }

  .hero-label div {
    top: 58%;
    left: 17%;
    transform: translate(-50%, -50%);
  }

  .hero-label div h3 {
    font-size: 2rem;
  }

  .hero-label div li,
  .hero-label div input
  {
    font-size: 1.5rem;
  }

  .hero-label ul {
    margin-bottom: 1.5rem;
  }

  .delorean-sections {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .delorean-sections h2:first-of-type {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .delorean-sections h2:last-of-type {   
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .delorean-upgrades {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 0;  
  }

  .delorean-reviews {
    grid-column: 2/3;
    grid-row: 2/3;   
    display: flex;
    align-items: start;
    font-size: 1.2rem;
  }

  .delorean-reviews ul {
    line-height: 2.75rem; 
  } 

  #inv-display {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;      
    gap: 2rem;
  }
 
  #vehicle-details {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  form {
    grid-column: 1/3;
    padding: 2rem 3rem;
  }

  #messages {
    grid-column: 1/4;
  }

  .notice {
    grid-column: 1/3;
  }
}