<h1><%- title %></h1>

<form action="">
  <fieldset>
    <label for="classification_id">Classification <input type="text" id="classification_id" name="classificationId"></label>
    <label for="inv_make">Make <input type="text" id="inv_make" name="invMake"></label>
    <label for="inv_model">Model <input type="text" id="inv_model" name="invModel"></label>
    <label for="inv_description">Description <textarea type="textarea" id="inv_description" name="invDescription"></textarea></label>
    <label for="inv_image">Image Path <input type="text" id="inv_image" name="invImage"></label>
    <label for="inv_thumbnail">Thumbnail Path <input type="text" id="inv_thumbnail" name="invThumbnail"></label>
    <label for="inv_price">Price <input type="number" id="inv_price" name="invPrice"></label>
    <label for="inv_year">Year <input type="number" id="inv_year" name="invYear"></label>
    <label for="inv_miles">Miles <input type="number" id="inv_miles" name="invMiles"></label>
    <label for="inv_color">Color <input type="text" id="inv_color" name="invColor"></label>
  </fieldset>
</form>