<h1><%- title %></h1>

<% if (errors) { %>
  <ul class="notice">
  <% for (let i = 0; i < errors.array().length; i++) { %>
    <% if (errors.array()[i].msg === "Invalid value") { %>
      <% continue %>
      <% } %>
      <li><%= errors.array()[i].msg %></li>
    <% } %>
  </ul>
<% } %>

<form action="/inv/add-classification" method="post" autocomplete="off">
  <fieldset>
    <label for="classificationName">Name must be alphabetic characters only
      <input type="text" id="classificationName" name="classification_name" pattern="^[a-zA-Z0-9]+$" required value="<%= locals.classification_name %>"></label>
    <input type="submit" value="Add Classification">
  </fieldset>
</form>