<h1><%- title %></h1>

<form action="">
  <fieldset>
    <h2>Classification Name</h2>
    <label for="classification_name">NAME MUST BE ALPHABETIC CHARACTERS ONLY<input type="text" id="classification_name" name="classificationName"></label>
    <input type="submit" value="Add Classification">
  </fieldset>
</form>