<h1><%- title %></h1>

<% if (errors) { %>
  <ul class="notice">
  <% for (let i = 0; i < errors.array().length; i++) { %>
    <% if (errors.array()[i].msg === "Invalid value") { %>
      <% continue %>
      <% } %>
      <li><%= errors.array()[i].msg %></li>
    <% } %>
  </ul>
<% } %>

<form action="/inv/add-inventory" method="post">
  <fieldset>
    <label for="classificationList">Classification<%- op %></label>
    <label for="invMake">Make<input type="text" id="invMake" name="inv_make" placeholder="Min of 3 characters" maxlength="3" required></label>
    <label for="invModel">Model<input type="text" id="invModel" name="inv_model" placeholder="Min of 3 characters" maxlength="3" required></label>
    <label for="invDescription">Description<textarea id="invDescription" name="inv_description" required rows="10"></textarea></label>
    <label for="invImage">Image Path<input type="text" id="invImage" name="inv_image" required></label>
    <label for="invThumbnail">Thumbnail Path<input type="text" id="invThumbnail" name="inv_thumbnail" required></label>
    <label for="invPrice">Price<input type="number" id="invPrice" name="inv_price" placeholder="Decimal or integer" required></label>
    <label for="invYear">Year<input type="text" id="invYear" name="inv_year" placeholder="4-digit year" maxlength="4" required></label>
    <label for="invMiles">Miles<input type="number" id="invMiles" name="inv_miles" placeholder="Digits only" required></label>
    <label for="invColor">Color<input type="text" id="invColor" name="inv_color" required></label>
    <input type="submit" value="Add Vehicle">
  </fieldset>
</form>